.box{
	height:500px;
	border: 1px solid black;
	width:800px;
	margin:5% auto;
}
.in{
	height:100%;
	float:left;
}
.left-box{
	border-right:1px solid #00bcd4;
	width:40%;
}
.right-box{
	width:60%;
	position: relative;
}
.block{
}
.search-box{
	height:20%;
}
.person-box{
	height:13%;
	cursor:pointer;
}
.active-person{
	background-color:#00b1ff;
}
.profile{
	width:20%;
	height:100%;
	text-align:right;
	vertical-align:middle;
}
.img-circle{
	position:relative;
	height:65%;
	margin-top:16.25%;
}
.profile-name{
	padding:5%;
}
.active-person .profile-name{
	font-weight:600;
	color:white;
}
.chat-header{
	background-color:#eee;
	height:10%;
	width:100%;
	font-weight:bold;
}
.chat-header p{
	padding:15px;
}
.chat-box{
	height:15%;
	width:100%;
	position:absolute;
	bottom:0px;
}
.chat-area{
	position:relative;
	width:100%;
	height:70%;
	overflow-y: scroll;
	overflow-x: hidden;
	
}
.from{
	width:100%;
	text-align:left;
	padding:3px;
}
.to{
	width:100%;
	text-align:right;
	padding:3px;
}
.message{
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
}
.from .message{
	color:white;
	background-color:#00b1ff;
	margin-left:25px;
}
.to .message{
	background-color:#eaeef3;
	margin-right:25px;
}
.message p{
	margin:10px 15px;
}
.ilad{
	width:80%;
	margin:0 auto;
	height:70%;
	background-color:#e9eff3;
	border:1px solid #e8eced;
	vertical-align:middle;
}
.clip{
	height:50%;
	margin-top:2%;
	font-size:1.5em;
	opacity:0.6;
	margin-left:6px;
}
.ilad input{
	border: 0;
	background: transparent;
	font-size:1.2em;
	width:70%;
	margin-top:-15px;
}
.ilad input:focus{
	outline: none;
}
.sm{
	font-size:30px;
}
.pull{
	margin:0 auto;
	width:100px;
	cursor:pointer;
	background-color:blue;
	
}